{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Наши контакты</span>
                </h1>
            </div>
            <div id="next">
                {% for get in address %}
                    <p>{{ get.phone }}</p>
                    <p>{{ get.address }}</p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}
