{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> onlineStore
                </h1>
            </div>
            <div id="next">
                <h2>{{ product.name }}</h2>
                <p>
                    Цена: {{ product.price }}<br> Описание: {{ product.description }}
                </p>
                <a href="{{ path('homepage') }}">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}
