.demo-bg{
    background: #ffac0c;
    margin-top: 60px;
}
.business-hours {
    /*background: white;*/
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
}
/*.business-hours:before{*/
    /*content: '';*/
    /*width: 23px;*/
    /*height: 23px;*/
    /*background: #111;*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: -12px;*/
    /*transform: rotate(-45deg);*/
    /*z-index: -1;*/
/*}*/
.business-hours .title {
    font-size: 20px;
    color: #BBB;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #ffac0c;
}
.business-hours li {
    color: #888;
    line-height: 30px;
    border-bottom: 1px solid #333;
}
.business-hours li:last-child {
    border-bottom: none;
}
.business-hours .opening-hours li.today {
    color: #ffac0c;
}
.previewImg{
    width: 100px;
    height: 150px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}

.previewImg:hover{
    width: 150%;
    height: 150%;
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}
