{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">

                <h1><span>Все категории: </span>
                </h1>
            </div>
            <div id="next">
                {% for item in categories %}
                    <h2 title="Цена: {{ item.name }}"></h2>
                    <p>
                        {{ item.name }}
                    </p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
