{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> админ.панель
                </h1>
            </div>
            <div id="next">
                <h2>Добавление категории: </h2>
                <p>
                <form action="{{ path('saveCategory') }}" method="post">
                    <label for="title_id">Имя категории: </label>
                    <input type="text" name="title" id="title_id"> <br>
                    <label for="description_id">Описание категории: </label> <br>
                    <textarea id="description_id" name="description" autofocus></textarea> <br>
                    <input type="submit" value="Сохранить">
                </form>
                </p>
                <a href="{{ path('adminMainPage') }}">На главную админ.панели</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
