{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Создание новой категории</h1>
            <p class="lead text-muted">
                Тут вы можете создать новую категорию.
            </p>
            <p>
                <a href="{{ path('adminMainPage') }}" class="btn btn-secondary">На главную страницу</a>
            </p>
        </div>
    </section>
    <div id="wrapper">
        <div id="container">
            <div id="next">
                <h2>Добавление категории: </h2>
                <p>
                <form action="{{ path('saveCategory') }}" method="post">
                    <label for="title_id">Имя категории: </label>
                    <input type="text" name="title" id="title_id"> <br>
                    <label for="description_id">Описание категории: </label> <br>
                    <textarea id="description_id" name="description" autofocus></textarea> <br>
                    <input type="submit" value="Сохранить">
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
