{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> админ.панель
                </h1>
                <p>
                    <a href="{{ path('homepage') }}" target="_blank">Перейти на сайт</a>
                </p>
            </div>
            <div id="next">
                <h2>Редактор категорий/товаров</h2>
                <p>
                    <a href="{{ path('contacts') }}">Наши контакты</a>
                </p>
                <p>
                <a href="{{ path('createProduct') }}">Создать новый товар</a>
                </p>
                <p>
                <a href="{{ path('createCategory') }}">Создать новую категорию</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}
