{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> админ.панель
                </h1>
                <p>
                    <a href="{{ path('adminMainPage') }}">Перейти на главную админ.панели</a>
                </p>
            </div>
            <div id="next">
                <h2>Редактор категорий/товаров</h2>
                <p>
                <form action="{{ path('saveContacts') }}" method="post">
                    <label id="phone">Номер телефона: </label>
                    <input type="text" id="phone" value=""> <br>
                    <label id="address">Адрес: </label>
                    <input type="text" id="address" value="">
                    <input type="submit" value="Сохранить">
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
