{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> админ.панель
                </h1>
                <p>
                    <a href="{{ path('adminMainPage') }}">Перейти на главную админ.панели</a>
                </p>
            </div>
            <div id="next">
                <h2>Редактор категорий/товаров</h2>
                <p>
                {% for get in address %}
                <form action="{{ path('saveContacts') }}" method="post">
                    <label id="phone">Номер телефона: </label>
                    <input type="text" id="phone" value="{{ get.phone }}" name="phone"> <br>
                    <input type="text" id="id" name="id" hidden value="1">
                    <label id="address">Адрес: </label>
                    <input type="text" id="address" value="{{ get.address }}" name="address">
                    <input type="submit" value="Сохранить">
                </form>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
