{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="next">
                {% for item in products %}
                    <p><a href="{{ path('view-product', {'id': item.id}) }}">{{ item.name }}</a></p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
